.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height instead of height */
}

.card {
  border: 10px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Futura", sans-serif;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .about-container {
    padding: 20px; /* Add padding to the container */
  }

  .card {
    border-width: 5px; /* Reduce border width for mobile */
  }
}
