.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card {
  border: 10px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Futura", sans-serif;
}


